<table *ngIf="data">
  <thead>
  <tr>
    <th class="sticky-col first-col"></th>
    <th class="sticky-col second-col">Header Dates</th>
    <th  *ngFor="let ev of data.expectedVoteValues">{{ev.date}}</th>
  </tr>
</thead>
  <tr>
  <td style="width: 3rem" class="sticky-col first-col"></td>
  <td  class="sticky-col second-col">
      Expected Total Vote
  </td>
  <td class="center" *ngFor="let ev of data.expectedVoteValues">{{ev.count}}</td>
  </tr>
<ng-container  *ngFor="let row of rowData; index as i">
  <tr>
    <td class="sticky-col first-col"><span class="expanded" (click)="expand[i]=!expand[i]"><i class='fa' [ngClass]="{'fa-angle-right':!expand[i] ,'fa-angle-down':expand[i]}"></i></span></td>
    <td class="sticky-col second-col" >{{row.name}}</td>
    <td *ngFor="let vote of row.votes">{{vote}}</td>
  </tr>
  <tr *ngIf="expand[i]">
    <td [attr.colspan]="data.expectedVoteValues.length+2" class="expand">
      <table>
        <tr  *ngFor="let state of row.states">
          <td class="sticky-col first-col" style="width: 3rem"></td>
          <td class="sticky-col second-col" >{{state.name}}</td>
          <td  *ngFor="let vote of state.votes">{{vote}}</td>

        </tr>
      </table>
    </td>
  </tr>
</ng-container>
</table>



