<div class="table-scroll">
<table *ngIf="data" class="main-table">
  <thead>
  <tr>
    <th></th>
    <th>Header Dates</th>
    <th  *ngFor="let ev of data.expectedVoteValues">{{ev.date}}</th>
  </tr>
</thead>
<tbody>
  <tr>
  <th></th>
  <th>
      Expected Total Vote
  </th>
  <td class="value-col" *ngFor="let ev of data.expectedVoteValues">{{ev.count}}</td>
  </tr>
  </tbody>





<ng-container  *ngFor="let row of rowData; index as i">
  <tr>
    <th><span class="expanded" (click)="expand[i]=!expand[i]"><i class='fa' [ngClass]="{'fa-angle-right':!expand[i] ,'fa-angle-down':expand[i]}"></i></span></th>
    <th>{{row.name}}</th>
    <td *ngFor="let vote of votes[i]" class="value-col" >{{vote}}</td>
  </tr>
  <tr *ngIf="expand[i]">
    <td [attr.colspan]="data.expectedVoteValues.length+2" class="expand">
      <table>
        <tr  *ngFor="let state of row.states; index as j">
          <th></th>
          <th>{{state.name}}</th>
          <td  *ngFor="let vote of state.votes; index as k" class="value-col" >
            <input  type="text" [value]="vote" (change)="updatevotes(i,j,k,$event.target.value)" >
          </td>

        </tr>
      </table>
    </td>
  </tr>
</ng-container>



</table>

</div>

