table {
  font-family: arial, sans-serif;
border: none;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}
.expand{
  padding: 0;
}
.expanded{
  float: right;
  font-size: 20px;
  cursor: pointer;
}
th {
  background-color:#999690;
  color:#fff;
  position: sticky;
  top: 0;
}
.sticky-col {
  position: -webkit-sticky;
  position: sticky;
}
.first-col {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  left: 0px;
}

.second-col {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  left: 100px;
}



